h1 {
	text-align: center;
}

.shapes {
	border: 1px solid lightgray;
	display: flex;
	flex-direction: column;
	padding: 20px;
}

.shapes + .shapes {
	border-top: none;
}

.shapes--elements {
	display: flex;
	align-items: center;
    flex-wrap: wrap;
	justify-content: space-between;
}