h1 {
	text-align: center;
}

.shapes {
	display: flex;
	flex-wrap: wrap;
}

.shape {
	border: 1px solid lightgray;
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 20px;
}

.shape--element {
	display: flex;
	align-items: center;
    flex-wrap: wrap;
	justify-content: space-between;
}

.btn-calculate {
	background-color:  white;
	border: 1px solid lightgray;
	border-radius: 5px;
	margin: 10px 0;
	padding: 10px;
}